*
* Techgen(tm) Tech file Generator.
* FullVersion        : 20.1.2-p025
* BuildNumber        : 025 
* IRBuildNumber      : 025 
* VersionDate        : Thu Sep 3 13:54:09 PDT 2020
* Bitness            : 64-bit
* 
*
process KISTA_1U_typical
*
*| temp_reference 25
*| auto_reorder_off true
*
deposition
*step #  material   p/n                 name        thick    diel.   side     bot     angle
step  1  substrate                       BOX       0.145  3.9
step  1  substrate                     Oxide       0.02  3.9
step  2  metal                     poly_conn       0.1  0  
step  3  dielectric n                 diel11       0.1   3.9   0   0.1   90
step  4  dielectric p                  diel1       0.105  3.9
step  5  metal                   metal1_conn       0.6  0  
step  6  dielectric p                  diel2       0.4  3.9
step  7  metal                   metal2_conn       0.6  0  
step  8  dielectric p                  diel3       0.4  3.9
step  9  metal                   metal3_conn       1.1  0  
step 10  dielectric n                  diel4       0.4   3.9   sidewall(0.4)   0.4   auto_angle
step 11  dielectric p                    air       40  1
enddeposition

metal_variations auto_comb
layer poly_conn w  1 
layer poly_conn s  0.5 
layer metal1_conn w  1 
layer metal1_conn s  2 
layer metal2_conn w  1 
layer metal2_conn s  2 
layer metal3_conn w  1 
layer metal3_conn s  2 
endmetal_variations

endprocess

